secrets/
shop_ai/.env
.env
__pycache__/
*.pyc
.DS_Store
.vscode/
apps/__pycache__/conftest.cpython-313-pytest-9.0.1.pyc
apps/__pycache__/container.cpython-313.pyc
apps/cart/__pycache__/cart.cpython-313.pyc
apps/cart/__pycache__/views.cpython-313.pyc
apps/cart/tests/__pycache__/test_cart.cpython-313-pytest-9.0.1.pyc
apps/cart/tests/__pycache__/test_views.cpython-313-pytest-9.0.1.pyc
apps/checkout/__pycache__/__init__.cpython-313.pyc
apps/checkout/__pycache__/admin.cpython-313.pyc
apps/checkout/__pycache__/apps.cpython-313.pyc
apps/checkout/__pycache__/custom_exceptions.cpython-313.pyc
apps/checkout/__pycache__/models.cpython-313.pyc
apps/checkout/__pycache__/payment_service.cpython-313.pyc
apps/checkout/__pycache__/repositories.cpython-313.pyc
apps/checkout/__pycache__/services.cpython-313.pyc
apps/checkout/__pycache__/urls.cpython-313.pyc
apps/checkout/__pycache__/views.cpython-313.pyc
apps/checkout/cart_validation/__pycache__/cart_chain.cpython-313.pyc
apps/checkout/cart_validation/__pycache__/cart_exceptions.cpython-313.pyc
apps/checkout/cart_validation/__pycache__/cart_handlers.cpython-313.pyc
apps/checkout/migrations/__pycache__/0001_initial.cpython-313.pyc
apps/checkout/migrations/__pycache__/__init__.cpython-313.pyc
apps/checkout/tests/__pycache__/test_payment_service.cpython-313-pytest-9.0.1.pyc
apps/checkout/tests/__pycache__/test_repositories.cpython-313-pytest-9.0.1.pyc
apps/checkout/tests/__pycache__/test_services.cpython-313-pytest-9.0.1.pyc
apps/checkout/tests/__pycache__/test_views.cpython-313-pytest-9.0.1.pyc
apps/orders/__pycache__/__init__.cpython-313.pyc
apps/orders/__pycache__/admin.cpython-313.pyc
apps/orders/__pycache__/apps.cpython-313.pyc
apps/orders/__pycache__/models.cpython-313.pyc
apps/orders/__pycache__/urls.cpython-313.pyc
apps/orders/__pycache__/views.cpython-313.pyc
apps/orders/migrations/__pycache__/0001_initial.cpython-313.pyc
apps/orders/migrations/__pycache__/__init__.cpython-313.pyc
apps/products/__pycache__/admin.cpython-313.pyc
apps/products/__pycache__/apps.cpython-313.pyc
apps/products/__pycache__/models.cpython-313.pyc
apps/products/__pycache__/services.cpython-313.pyc
apps/products/__pycache__/views.cpython-313.pyc
apps/products/tests/__pycache__/test_repositories.cpython-313-pytest-9.0.1.pyc
apps/products/tests/__pycache__/test_service.cpython-313-pytest-9.0.1.pyc
apps/users/__pycache__/admin.cpython-313.pyc
apps/users/__pycache__/models.cpython-313.pyc
apps/users/__pycache__/repositories.cpython-313.pyc
apps/users/__pycache__/services.cpython-313.pyc
apps/users/__pycache__/views.cpython-313.pyc
apps/users/migrations/__pycache__/0008_userprofile_phone_number.cpython-313.pyc
apps/users/migrations/__pycache__/0009_address.cpython-313.pyc
apps/users/migrations/__pycache__/0010_address_country.cpython-313.pyc
apps/users/tests/__pycache__/test_models.cpython-313-pytest-9.0.1.pyc
apps/users/tests/__pycache__/test_services.cpython-313-pytest-9.0.1.pyc
apps/users/tests/__pycache__/test_views.cpython-313-pytest-9.0.1.pyc
shop_ai/__pycache__/settings.cpython-313.pyc
shop_ai/__pycache__/urls.cpython-313.pyc
shopai-env/
.dockerignore
apps/products/__pycache__/models.cpython-313.pyc
apps/products/__pycache__/models.cpython-313.pyc
apps/__pycache__/utils.cpython-313.pyc
apps/products/__pycache__/repositories.cpython-313.pyc
apps/products/__pycache__/services.cpython-313.pyc
