secrets/
.env
db.sqlite3
apps/cart/__pycache__/views.cpython-313.pyc
apps/checkout/__pycache__/
apps/checkout/migrations/__pycache__/
apps/products/__pycache__/
apps/products/migrations/__pycache__/
apps/users/__pycache__/
apps/users/migrations/__pycache__
apps/checkout/__pycache__/views.cpython-313.pyc
apps/__pycache__/conftest.cpython-313-pytest-9.0.1.pyc
# test directories
apps/checkout/tests/__pycache__
apps/users/tests/__pycache__
apps/products/tests/__pycache__
apps/cart/tests/__pycache__
apps/__pycache__
shop_ai/__pycache__

