{% extends 'base.html' %}

{% block title %} Products {% endblock title%}

{% block content %}




  <br>
  <br>
  <!-- Hero Section -->
  <section class="hero-section">
    <h1 class="display-5 fw-bold">Welcome to Your Favorite Store</h1>
    <p class="lead">Discover the latest trends with our modern collection</p>
    <button class="shop-btn mt-3">Shop Now</button>
  </section>

  <!-- Collections of Products -->

  <div class="container py-5">
    <h4 class="mb-4">Our Products</h4>
    
  <!-- Filter -->

    <!-- Filter (Optional) -->

    <form id="form-category" class="row g-3 col-lg-8 col-md-6 col-sm-6 align-items-end">
      
      <!-- Category Filter -->
      <div class="col-md-4">
        <label for="categorySelect" class="form-label">Filter Products</label>
        <br>
        <br>
        <select class="form-select" id="categorySelect">
          <option value="All">All</option>
          {% for category in categories %}
              <option value="{{ category.name }}">{{ category.name }}</option>
          {% endfor %}

        </select>
      </div>
      
      
      
    </form>    

    <br>
    <br>

  
    <!-- Product Cards: Responsive + Scroll on Mobile -->
    <div class="scroll-container" id="productContainer">
       
      {% for product in products %}
      <div class="product-card position-relative">
        {% if product.discount > 0 %}
            <span class="badge-discount">-{{ product.discount }}%</span>
        {% endif %}

        <img src="{{ product.images.first.image.url }}" alt="Red Velvet Cake" class="product-img">
        <div class="p-3">
          <small class="text-muted">{{ product.category }}</small>
          <h6 class="mt-1 mb-1">{{ product.name }}</h6>
          {% if product.stock > 0 %}
              <p class="mb-1 text-muted" style="font-size: 0.9rem;">In Stock : {{ product.stock }}</p>
          {% else %}
              <p class="mb-1 text-muted" style="font-size: 0.9rem;color : red">Out of stock</p>
          
          {% endif %}
          <div class="d-flex align-items-center justify-content-between">
            <span class="price">${{ product.price }} </span>
            {% if product.old_price > 0 %}
                <span class="old-price">${{ product.old_price }}</span>
            {% endif %}
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center p-2">
          <button  class="btn btn-primary btn-sm">
            <a href="{% url 'product-detail' product.slug %}" class="text-white text-decoration-none">
                View product
            </a> 
              <i class="bi bi-eye text-white"></i>
          </button>
          
        </div>
        
      </div>
      {% endfor %}
      
    </div>

  </div>


{% endblock content %}