{% extends "base-users.html" %}

{%block title%} Signup {% endblock title%}

{% block content %}

<!-- Login card -->

<br>
<center>
    <div class="card login-card p-4 bg-white col-lg-4 col-sm-8 col-xs-12" id="card-login" style="border-radius : 20px">
        <h4 class="text-center mb-3">Signup to Shop AI</h4> 
        <br>
      
        <button class="btn btn-warning">
          <i class="bi bi-google me-2" style="color:white"></i>
          <a class="text-white text-decoration-none" href="{% url 'social:begin' 'google-oauth2' %}">Sign up with Google</a>
      
        </button>
        
      <br>
      <div class="text-center text-muted mb-2">OR</div>   
      <br>

        <form id="SignupForm" method="POST" novalidate>
          {% csrf_token %}

          <div class="form-floating mb-3">   
            {{ form.username }}
            <label for="username">Username</label>
            {% if form.username.errors %}
              <br>
              <div>
                {% for error in form.username.errors%}
                  <p class="error">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-floating mb-3">   
            {{ form.email }}
            <label for="email">Email</label>
            {% if form.email.errors %}
              <br>
              <div>
                {% for error in form.email.errors%}
                  <p class="error">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
    
          <div class="form-floating mb-3 position-relative">
            {{ form.password}}         
            <label for="password">Password</label>
            <i class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3" id="togglePassword" style="cursor: pointer;"></i>
          </div>

          {% if form.password.errors %}
              <br>
              <div>
                {% for error in form.password.errors%}
                  <p class="error">{{ error }}</p>
                {% endfor %}
              </div>
          {% endif %} 

          <div class="form-floating mb-3 position-relative">
            {{ form.confirm_password}} 
            <label for="confirm_password">Confirm Password</label>
            <i class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3" id="togglePassword" style="cursor: pointer;"></i>
          </div>

          {% if form.confirm_password.errors %}
          <br>
          <div>
            {% for error in form.confirm_password.errors%}
              <p class="error">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}          
      

          {% if form.non_field_errors%}
          <div class="error">
              {% for error in form.non_field_errors%}
                  <p>{{ error }}</p>
              {% endfor %}
          </div>
          {% endif %}
          
          
          <br>
    
          <!-- Register Button -->
          <div class="d-grid mb-3">
            <button class="btn btn-primary" type="submit">Sign up</button>
          </div>   

        </form>
    
        <div class="text-center mt-3">
          <small style="color:gray;font-style:italic;font-weight: 400;">Already have an account? <a href="{% url 'login' %} ">Log in</a></small>
        </div>
      </div>
    
    </center>
    <br>
    <br>
    
    
    

{% endblock content %}