{% extends "base-users.html" %}

{% block title %} Update email {% endblock title %}

{% block content %} 

<br>
<div class="container col-lg-6 col-xs-12 col-sm-8">
    <form class="form-control" method="post"/>
        {% csrf_token %}
        <br>
        <h6>Enter your password here : </h6>
        <br>
        <input type="password" name="password" class="form-control input-sm"/>
        <br>
        {% if error %}
            <label style="color:#f44336">{{ error }}</label>
            <br>
            <br>
        {% endif %}
        <button type="submit" class="btn btn-primary">
            Verify password
        <i class="bi bi-key"></i>
        </button>
        <br>
        <br>
        <br>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock content %}