{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - Shopping Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'css/base-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet" />
    <link href="{% static 'css/promo-code.css'%}" rel="stylesheet" />

  </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white px-8 py-3 shadow-sm fixed-top">
        <div class="container-fluid">
          <!-- Brand -->
          <a class="navbar-brand" href="{% url 'products' %}">
            <small>SHOP AI</small>
          </a>
      

          <div class="ms-auto d-flex align-items-center mt-3 mt-lg-0" id="cart-container">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="me-3 text-dark text-decoration-none"><i class="bi bi-box-arrow-right"></i> Log in</a>
            {% endif %}
      
            <a href="{% url 'cart' %}" class="position-relative me-3">
              <i class="bi bi-cart fs-4 text-dark"></i>
              <span id="cart-items" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                {{ count }}
                <span class="visually-hidden"></span>
              </span>
            </a>
            
            
            
            {% if user.is_authenticated %}
           
                <!-- Profil avec dropdown -->
      
                <div class="dropdown">
                  {% if user.userprofile.profile_picture %}
                  <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-pic" data-bs-toggle="dropdown" aria-expanded="false" />
                  {% else %}
                  <img 
                      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.PKlD9uuBX0m4S8cViqXZHAHaHa%3Fr%3D0%26pid%3DApi&f=1&ipt=d21b0bf7247a83a119e6d7e81a158c7613ca0d57822822d896676e1e229758ba&ipo=images"
                      alt="Profile Picture" 
                      class="profile-pic" 
                      data-bs-toggle="dropdown" 
                      aria-expanded="false" 
                  />
                  {% endif %}
      
                  <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
                    
                    <li>
                      <a class="dropdown-item" href="#">
                        Hi {{user.username}}
                      </a>
                    </li>
                    
                    <li>
                      <a class="dropdown-item" href="{% url 'profile' %}">
                        <span class="icon-wrapper bg-warning text-white"><i class="bi bi-person-fill"></i></span>
                        Profile
                      </a>
                    </li>
                    
                    <li><hr class="dropdown-divider" /></li>
                    
                    <li>
                      <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                        <span class="icon-wrapper bg-danger text-white"><i class="bi bi-power"></i></span>
                        Log out
                      </a>
                    </li>
      
                  </ul>
                </div>
                
      
                
            {% endif %}
      
      
          </div>
      
      
         
          
        </div>
    </nav>

    {% block content %}

    {% endblock content%}

    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/promo-code.js'%}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
</body>
</html>